<div class="container">
    <h1>bl-fileinput</h1>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="fileInput">Single file</label>
            <bl-fileinput formControlName="file"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="filesInput">Multiple files</label>
            <bl-fileinput formControlName="files" [multiple]="true"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="filesInput">Placeholder</label>
            <bl-fileinput placeholder="please choose a file"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="filesInput">Only images, audio, pdfs and .txt files (attribute set as array)</label>
            <bl-fileinput [accept]="['image/*','audio/*', '.txt', 'application/pdf']"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="filesInput">Only images, audio, pdfs and .txt files (attribute set as string)</label>
            <bl-fileinput accept="image/*,audio/*,.txt,application/pdf"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="fileInput">Required validation (valid: {{ form.controls['required'].valid }})</label>
            <bl-fileinput formControlName="required"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="fileInput">Change Event (single)</label>
            <bl-fileinput formControlName="file" (fileChanged)="onChangedSingle($event)"></bl-fileinput>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5">{{ eventsStringSingle }}</textarea>
        </div>
        <div class="form-group">
            <label for="fileInput">Change Event (multiple)</label>
            <bl-fileinput formControlName="file" (fileChanged)="onChangedMultiple($event)" [multiple]="true"></bl-fileinput>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5">{{ eventsStringMultiple }}</textarea>
        </div>
        <div class="form-group">
            <label for="fileInput">With Icon</label>
            <bl-fileinput formControlName="file" icon="fa fa-plus"></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="fileInput">Only Icon</label>
            <bl-fileinput formControlName="file" icon="fa fa-plus" buttonText=""></bl-fileinput>
        </div>
        <div class="form-group">
            <label for="fileInput">Button only with custom file list</label>
            <bl-fileinput formControlName="customFilesList" icon="fa fa-plus" buttonText="add files" [buttonOnly]="true" [multiple]="true" (fileChanged)="onChangedCustomList($event)"></bl-fileinput>
        </div>
        <table class="table">
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th></th>
            </tr>
            <tr *ngFor="let file of customFilesListItems">
                <td>{{file.name}}</td>
                <td>{{file.size}} Byte</td>
                <td><button type="button" (click)="removeFromCustomFilesList(file)" class="btn btn-secondary">x</button></td>
            </tr>
        </table>
    </form>
</div>
