<div class="input-group bl-fileinput">
    <ul *ngIf="!buttonOnly" class="form-control bl-fileinput__selection">
        <li *ngIf="files.length === 0" class="bl-fileinput__selection-item bl-fileinput__selection-item--placeholder">{{placeholder}}</li>
        <li *ngFor="let file of files" class="bl-fileinput__selection-item" [class.bl-fileinput__selection-item--multiple]="multiple">
            <span *ngIf="multiple" (click)="removeFile(file)" class="bl-fileinput__selection-item__remove" role="presentation">×</span>
            {{file.name}}
        </li>
    </ul>
    <button type="button" (click)="fileinput.click();" class="input-group-addon bl-fileinput__button">
        <span *ngIf="icon" [class]="icon" [class.bl-fileinput__button__icon]="true" [class.bl-fileinput__button__icon--with-text]="buttonText"></span>
        <span>{{ buttonText }}</span>
        <input #fileinput type="file" (change)="fileChange($event);" [multiple]="multiple"
               [accept]="getAccept()" class="bl-fileinput__fileinput">
    </button>
</div>
