
.bl-fileinput__fileinput {
    display: none;
}

.bl-fileinput__selection {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    padding-top: 3px;
}

.bl-fileinput__selection-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style-type: none;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.bl-fileinput__selection-item--multiple {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
}

.bl-fileinput__selection-item--placeholder {
    color: #999;
}

.bl-fileinput__selection-item__remove {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    color: #999;
}

.bl-fileinput__selection-item__remove:hover {
    color: #333;
}

.bl-fileinput__button {
    flex-direction: row;
}

.bl-fileinput__button__icon {
    vertical-align: middle;
    align-self: center;
}

.bl-fileinput__button__icon--with-text {
    margin-right: 5px;
}
